<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
   <connectionStrings>
     <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.25.47.155\HERA2016;initial catalog=DEV_CTS_TURNS;persist security info=True;user id=sa;password=bitsadmin2016*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>
  <appSettings>
    <add key="UrlSftp" value="190.25.47.155" />
    <add key="User" value="Turnos" />
    <add key="Password" value="turnos" />
    <add key="Port" value="22" />
    <add key="Url" value="C:\Logs\" />
  </appSettings>
  <!--<log4net>
    
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Logs\LogCarvajal.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root> 
  
  </log4net>-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="MyRollingFileAppender" />
    </root>
    <appender name="MyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logs" />
      <appendToFile value="true" />
      <maximumFileSize value="300MB" />
      <maxSizeRollBackups value="5" />
      <rollingStyle value="Size" />
      <threshold value="DEBUG" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date %-5level %logger %message.%exception%newline" />-->
        <conversionPattern value="[%date{ddMMyyyy HH:mm:ss}] [%-5level] %message %exception%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>